@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,900;1,600;1,700&display=swap');
*{
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  font-size: calc(18px + 0.2vw)
}
img{
  max-width: 100%;
  display: block;
}
body,html, #root{
  height: 100%;
  width: 100%;
  display:flex;
  flex-flow: column nowrap;
  font-family: 'Heebo', sans-serif;

}
.dark{
  background-color: #222222;
  color: white;
}
.light{
  background-color: white;
  color: #222222;
}
.img
{
  width:28px;
  height:28px;
  background-size: cover;
  margin-right: 10px;
}
/*#region navbar*/
nav{
  display:flex;
  flex-flow: row wrap;
  justify-content: space-between;
  box-shadow: 0px 11px 30px -2px rgba(0,0,0,0.17);
  -webkit-box-shadow: 0px 11px 30px -2px rgba(0,0,0,0.17);
  -moz-box-shadow: 0px 11px 30px -2px rgba(0,0,0,0.17);
  text-align: center;
  padding: 20px 10px;
}
.navButton_Container{
  display: flex;
  flex-flow: row nowrap;
}
.navButton{
  font-size: calc(18px + 0.3vw);
  padding:10px;
  color:white;
  -webkit-transition:all 0.3s ease;
  -moz-transition:all 0.3s ease;
   -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
       transition:all 0.3s ease;
}
.textdark{
  color: white;
}
.textlight{
  color:black;
}
.navButton:hover{
  color:#f9d534;
  font-size: calc(17.8px + 0.299vw);
}
.fill{
  background-image: url("./assets/menu-hamburger-solid-svgrepo-com.svg");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position-x: center;
  background-position-y: center;
  font-size: calc(18px + 0.3vw);
  padding: 0px 30px;
}
.fill.invert{
  filter:invert();
}
.fill.active{
  background-image: url("./assets/close-svgrepo-com.svg");
}
ul{
  transition: all 0.4s;
  position: absolute;
  width:100%;
  z-index: 1;
  max-height: fit-content;
}

.hidden{
  pointer-events: none;
  opacity: 0;
}

.darkSwitch{
  background-image: url("./assets/Floral-Crescent-Moon.svg");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position-x: center;
  background-position-y: center;
  font-size: calc(18px + 0.3vw);
  padding: 0px 30px;
}
.lightSwitch{
  background-image: url("./assets/sun-8762.svg");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position-x: center;
  background-position-y: center;
  font-size: calc(18px + 0.3vw);
  padding: 0px 30px;
}

/*#endregion navbar*/

/*#region home*/
.mask-container{
  position: relative;
}
.color-image{
  position: absolute;
  inset:0;
  background-image: url("./assets/color-image.jpg");
  background-size: cover;
}
.blackWhite{
  content:url("./assets/bw-image.jpg");
  -webkit-mask-image: url("./assets/image-mask.png");
  -webkit-mask-size: cover;
  -webkit-mask-position: 100% 0%;
  mask-image: url("./assets/image-mask.png");
  mask-size: cover;
  mask-position: 100% 0%;
  animation: maskAnim 1s steps(24) forwards;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation: maskAnim 1s steps(24) forwards;
  -moz-animation: maskAnim 1s steps(24) forwards;
}
@keyframes maskAnim {
  0% {
    -webkit-mask-position: 100% 0%;
    mask-position: 100% 0%;
  }
  100% {
    -webkit-mask-position: 0% 0%;
    mask-position: 0% 0%;
  }
}
  
/*#endregion home*/

/*#region footer*/
footer{
  display:flex;
  flex-flow: column;
  justify-content: center;
  background-color: #000000;
  padding:50px 10%;
  color:white;
  font-family: 'Source Sans Pro', sans-serif;
}
footer h2{
  padding-bottom: 20px;
  font-size: larger;
  text-transform: uppercase;
  font-weight: 800;
}
.info{
display: flex;
flex-flow: row;
padding-bottom: 50px;
}
.about{
  width: 40%;
  margin-right: auto;
}
.social{
 display: flex;
 flex-flow: column;
}
.socialImages{
  display: flex;
  flex-flow: row nowrap;
}
.copyright{
  padding:20px;
  text-align: center;
  font-size: small;
}
@media only screen and (max-width: 600px) {
  .info{
    flex-flow: column;
  }
  .about{
    width:100%;
    padding-bottom: 10px;
  }
  .socialImages{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }
  .img{
    margin: 0 20px;
  }
}
b{
  font-size: small;
}
.linkedIn{
background-image: url("./assets/linkedin-svgrepo-com.svg");
filter: invert()
}
.github{
background-image: url("./assets/github-svgrepo-com.svg");
filter: invert()
}
.discord{
background-image:  url("./assets/discord-fill-svgrepo-com.svg");
filter: invert()
}
/*#endregion footer*/