*{
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  color: black;
  font-size: calc(18px + 0.2vw)
}
body,html, #root{
  height: 100%;
  width: 100%;
  display:flex;
  flex-flow: column nowrap;
  background-color: #f8f8f8;
}
/*#region RegionName*/
nav{
  display:flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.navButton{
  font-size: calc(20px + 0.5vw);
  padding:20px
}

/*#endregion RegionName*/


